<div class="container">
    <div class="row mtop10">
        <div class="col-xs-12 clearfix">
            <h3 class="title pull-left"> Weather forecast widget </h3>
            <i class="pull-right note"> Click on temperature to get forecast for next hours </i>
        </div>
    </div>
    <div class="row mtop10">
        <div class="col-xs-12">
            <div class="wrapper">
                <section ng-repeat="country in ctrlWeather.countries" id="{{country.id}}">
                    <h1>{{country.name}}</h1>
                    <div class="temperature entypo-light-up" ng-click="ctrlWeather.getUpcomingForecast(country.id)">
                        <h2>{{country.forecast.main.temp | number:1}}<span class="degree-symbol">°</span>C</h2>
                    </div>
                    <ul>
                        <li class="fontawesome-leaf left">
                            <span>{{country.forecast.wind.speed}} kph</span>
                        </li>
                        <li class="fontawesome-tint center">
                            <span>{{country.forecast.main.humidity}}</span>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="forecast" ng-if="ctrlWeather.futureForecast.city.id === ctrlWeather.countryId">
                <h2>Forecast for {{ctrlWeather.futureForecast.city.name}}</h2>
            <div class="row">
                <div class="col-xs-12">
                    <div weather-panel="forecast" show-entry="ctrlWeather.futureForecast.list[0]"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <div weather-panel="forecast" show-entry="ctrlWeather.futureForecast.list[1]"></div>
                </div>
                <div class="col-xs-3">
                    <div weather-panel="forecast" show-entry="ctrlWeather.futureForecast.list[2]"></div>
                </div>
                <div class="col-xs-3">
                    <div weather-panel="forecast" show-entry="ctrlWeather.futureForecast.list[3]"></div>
                </div>
                <div class="col-xs-3">
                    <div weather-panel="forecast" show-entry="ctrlWeather.futureForecast.list[4]"></div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>